@mixin setMarPad {
    margin:0;
    padding:0;
}
@mixin center {
    margin:0 auto 0 auto;
}
$borderTest: 1px solid red;
$backgroundColor:#FFE8E2;
$bodyFont:'Open Sans', sans-serif;
$titleFont:'Montserrat', sans-serif;
$subtitleFont:'Podkova', serif;

ul{
 list-style-type: none;
}
html{
    @include setMarPad();
    text-align:center;
    scroll-behavior: smooth;
    font-family: $bodyFont;
}

body{
    @include setMarPad();
    header{
        // border:$borderTest;
        position:relative;
        width:100%;
        height:45vh;
        max-height:500px;
        display:flex;
        flex-direction:column;

        //background div
        #background{
            // border:$borderTest;
            position: absolute;
            width:100%;
            height:100%;
            z-index:-1;

            //background
            background: url("reference/icey2.jpg"),url("reference/waterDrops3.jpg"),linear-gradient(180deg, #152928 0%, #0D8677 55.73%, #FFD7CD 100%);
            background-blend-mode: darken,multiply,normal;
            background-repeat: repeat;
            background-size: 50%,65%;
            filter: blur(1px);
        }

        //nav
        nav{
            // border:$borderTest;
            z-index:2;
            font-family:$subtitleFont;
            font-size:18px;

            ul{
                @include setMarPad();
                @include center;
                // border:$borderTest;
                width:35%;

                display:flex;
                flex-direction:row;
                justify-content: space-evenly;
                li{
                    // border:$borderTest;
                    padding:5px;
                    width:fit-content;
                    height:fit-content;
                    border-radius:0 0 10px 10px;

                    //tag background
                    background: linear-gradient(180deg, rgba(248, 189, 158, 0) 0%, #F8BD9E 100%);
                    
                    a,a:visited{
                        color:#FFF7D7;
                        text-decoration:none;
                    }
                    a:hover{
                        font-weight:bold;
                    }
                }
            }
        }
        //greetings
        #greetings{
            // border:$borderTest;
            height:100%;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items:center;
            color:#FFE8E2;
            font-family: $titleFont;
            font-size:35px;
            -webkit-text-stroke:2px;
            -webkit-text-stroke-color:rgba(22,106,99,0.75);

            .greetingChild{
                // border:$borderTest;
                @include setMarPad();
                width:fit-content;
                height:fit-content;
                font-weight:800;
            }
        }
    }

    #content{
        // border:$borderTest;
        position:relative;

        #contentBackground{
            position:absolute;
            z-index:-1;
            width:100%;
            height:100%;

            //background
            background-image: linear-gradient(180deg, rgba(248, 189, 158, 0.5) 0%, rgba(255, 247, 215, 0.25) 100%);
            opacity: 50%;
            filter:blur(2px);
        }

        section{
            // border:$borderTest;
            z-index:1;
            width:75%;
            max-width:1000px;
            @include center();

            //section background
            background:#FFE8E2;

            ul{
                @include setMarPad();
                }
            .sectionTag{
                // border:$borderTest;
                width:fit-content;
                @include setMarPad();
                padding:5px 15px 5px 15px;
                border-radius:0 0 15px 0;
                background-color:#216A61;
                color:#FBDA57;
                font-family:$subtitleFont;
                font-size:20px;
                }
        } // general section tag

        //education section
        #education{
            .educationName{
                text-align:left;
                padding:15px 10px 15px 10px;
                p{
                    @include setMarPad();
                }
            }
        }

        //project section
        #projects{
            .projects-item{
                @include setMarPad();
                // border:$borderTest;
                padding-bottom:10px;
                .project-title{
                    font-family: $titleFont;
                    font-weight: 700;
                    font-size:24px;
                }
                .project-description{
                    text-align:left;
                    padding:0 10px 0 10px;
                }
            }
        }
    }
    
}

footer{
    @include setMarPad();
    background:url("reference/Sand2.jpg");
    background-color:#AD9385;
    background-blend-mode: multiply, normal;
    background-repeat: repeat;
    background-size:25%;

    #profile-link{
      @include setMarPad();  
      @include center();
      border:$borderTest;
      width:50%;
      max-width:500px;
      div{
          border:$borderTest;
          padding:10px 0 10px 0;
          width:100%;
          display:flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-evenly;

          li{
              border:$borderTest;
              width:fit-content;
          }
      }
    }
}
